@import 'attention_seekers/attention_seekers';
@import 'bouncing_entrances/bouncing_entrances';
@import 'bouncing_exits/bouncing_exits';
@import 'fading_entrances/fading_entrances';
@import 'fading_exits/fading_exits';
@import 'flippers/flippers';
@import 'lightspeed/lightspeed';
@import 'rotating_entrances/rotating_entrances';
@import 'rotating_exits/rotating_exits';
@import 'sliding_entrances/sliding_entrances';
@import 'sliding_exits/sliding_exits';
@import 'specials/specials';
@import 'zooming_entrances/zooming_entrances';
@import 'zooming_exits/zooming_exits';

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;

  &.infinite {
    animation-iteration-count: infinite;
  }

  @each $num in 1, 2, 3, 4, 5 {
    &.delay-#{$num}s {
      animation-delay: #{$num}s;
    }
  }

  &.fast {
    animation-duration: 800ms;
  }

  &.faster {
    animation-duration: 500ms;
  }

  &.slow {
    animation-duration: 2s;
  }

  &.slower {
    animation-duration: 3s;
  }

  @media (prefers-reduced-motion) {
    animation: unset !important;
    transition: none !important;
  }
}
